*.pyc
*~
__pycache__
dsavenv
elasticBeanstalk
.mypy_cache
/static
.DS_Store
db.sqlite3 
dsa_cockpit.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
