option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:container:python:
    WSGIPath: dsa_cockpit.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: dsa_cockpit/settings.py
    PYTHONPATH: /var/app/current/dsa_cockpit:$PYTHONPATH
  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP
    Rules: ws
  aws:elbv2:listenerrule:ws:
    PathPatterns: /heroes
    Process: websocket
    Priority: 1
  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '5000'
    Protocol: HTTP
    StickinessEnabled: 'true'
  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP