container_commands:
  00_pip_upgrade:
    command: "source /opt/python/run/venv/bin/activate && pip install --upgrade pip"
    ignoreErrors: false
01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'