files:
  "/etc/httpd/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass /heroes/ ws://127.0.0.1:5000/heroes/
      ProxyPassReverse /heroes/ ws://127.0.0.1:5000/heroes/
      #Uncomment below for Option 3
      ProxyPass / http://127.0.0.1:5000/
      ProxyPassReverse / http://127.0.0.1:5000/