files:
  "/etc/httpd/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass /heroes/ ws://127.0.0.1:5000/heroes/
      ProxyPass /remoteControl/ ws://127.0.0.1:5000/remoteControl/
      ProxyPassReverse /heroes/ ws://127.0.0.1:5000/heroes/
      ProxyPassReverse /remoteControl/ ws://127.0.0.1:5000/remoteControl/
      #Uncomment below for Option 3
      #ProxyPass / http://127.0.0.1:5000/
      #ProxyPassReverse / http://127.0.0.1:5000/